header{
    width: 100%;
    height: fit-content;
    background-color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-content: center; 
}

header div{
    display: flex;
    align-items: center;
    justify-content: center;
}


header img{
    height: 80%;
}

header ul{
    list-style: none;
    /*height: 100%; /*elimina il centramento verticale della lista*/
}

header li{
    float: left;
    height: 100%;
}
    
header a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    height: 100%;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    /*teto maiuscolo*/
}

header a:hover {
    color: #007ef9;
    border-bottom: 3px solid #007ef9;
    /*il bordo spinge il blocco più in alto*/   
}
